.add-expense-btn {
  background-color: #404bdd;
  font-size: 1.3em;
  font-family: "klavikabold";
  border: none;
}

.cancel-expense-btn {
  font-size: 1.3em;
  font-family: "klavikabold";
  border: none;
}

.add-expense-form-container {
  transition: all 0.8s ease-out;
  overflow: hidden;
  border-radius: inherit;
  background-color: white;
}

.modal_inputs_container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: inherit;
}

.modal_overlay {
  position: fixed;
  background-color: rgba(000, 000, 000, 0.2);
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.inputs-container,
.inputs-btn-container {
  width: 90%;
  margin: 0 auto;
}

.input-field {
  width: 50%;
}

.input-field label {
  font-size: 1.3em;
  font-family: "klavikabold";
}

.mui-input-field {
  width: 75%;
}

.no-expense {
  box-shadow: 0px 15px 10px -15px #111;
}

@media screen and (max-width: 900px) {
  .input-field {
    padding: 0 10px;
  }
  .input-field label {
    font-size: 1.2em;
  }
  .mui-input-field {
    width: 100%;
  }
  .add-expense-btn,
  .cancel-expense-btn {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 750px) {
  .add-expense-btn,
  .cancel-expense-btn {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 700px) {
  .inputs-container {
    flex-wrap: nowrap !important;
    flex-direction: column;
  }
  .input-field {
    padding: 0 0px;
    width: 100%;
  }
  .input-field label {
    font-size: 1.2em;
  }
  .mui-input-field div input {
    width: 100%;
    padding: 10px 14px;
  }

  .add-expense-btn,
  .cancel-expense-btn {
    font-size: 1.2em;
  }
}
