.all-expense-items {
  max-height: 675.44px;
  overflow-y: auto;

  /* transform: translateZ(0); */
}

@media screen and (max-width: 1100px) {
  .expenses-container {
    margin-left: 0 !important;
  }
}
