.expense-item-leftside {
  min-width: 180px;
}

.expense-title {
  font-family: "ChevinProDemiBold";
  color: #212529;
  width: calc(100% - 330px);
  /* flex-grow: 1; */
}

.expense-title h2 {
  font-size: 2.1rem;
  max-width: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.expense-amount {
  width: 150px;

  font-family: "NeueHaasUnica-Bold";
}

.expense-amount h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.7rem;
}
